* {
    margin: 0;
    padding: 0;
    font-family: arial;
  }
html{
  background-color: rgb(169, 179, 199);
}

.wrapper{
    background-color: white;
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 4px 0 #000;
    min-height: 100vh;


  }

.header{
  text-align: center;
  &__img{
    width: 75%;
  }
  &__author-link{
    color: black;
    text-decoration: none;
  }
}
  
.MemeChooser{

   padding-top: 50px;
    &__title{
      text-align: center;
      background-color: rgb(169, 179, 199);
      margin: 0 25%;
      padding: 10px 0;
      border-radius: 10px;
    }
    &__memes{
      
        display: flex;
        margin-left: -30px;
        padding: 50px 15px 15px;
    }

    &__column{
      padding-left: 30px;
    background-clip: padding-box;
    }

    &__meme{
        width: 100%;
        cursor: pointer;
    }

    &__author-link{
      display: block;
      text-align: center;
      margin: 20px auto;
      padding-bottom: 20px;
      color: black;
    }
  }

.Modal{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  //container
  display: grid;
  grid-template-columns: 50px 1fr 1fr 1fr 50px;
  grid-template-rows: 50px 1fr 1fr 1fr 50px;
  justify-content: center;
  align-items: center;

  width: 75vw;
  height: 75vh;
  background-color: rgb(169, 179, 199);

    &__close{
      grid-column: 5;
      font-size: 40px;
      cursor: pointer;
      text-align: center;
    }

    &__input{
      margin-left: 10px;
      padding: 10px 20px;
      border: none;

      &--top{
        grid-column: 4;
        grid-row: 2;
      }
      &--bottom{
        grid-column: 4;
        grid-row: 3;
      }

      &:focus{
        box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.75);
      }
    }
    &__btn{
      grid-column: 4;
      grid-row: 4;

      margin-left: 10px;
      padding: 10px 20px;
      border: none;
      background-color: white;
    }
    &__meme{
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row:2/5;
    }

  }

  text{
    // color: white;
    font-size: 50px;
    // font-weight: 800;
    // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  

